:root {
  --transparent-color: rgba(255, 255, 255, 0);
  --basic-white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.9);
  --transparent-white-30: rgba(255, 255, 255, 0.3);
  --sky-blue: #81B3D2;
  --deeper-blue: #669EC0;
  --basic-blue: #5496BD;
  --light-gray: #EEEEEE;
  --basic-brown: #766357;
  --darker-brown: #604E43;
  --darkest-brown: #503E33;
  --basic-gray: #F2F2F2;
  --dark-gray: #888888;
  --darker-gray: #666666;
  --darkest-gray: #333333;
  --basic-black: #000000;
}

.page {
  margin: 0;
  padding: 0;
  background-color: var(--light-gray);
  height: 100%;
}

.page-body {
  min-height: 100%;
  background-color: var(--basic-white);
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/* Для невидимых элементов */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0;
}

/* Шапка с навигацией */
.main-header-nav {
  display: grid;
  padding: 0;
}

.main-header-logo {
  align-items: center;
  z-index: 2;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
.nav-menu-list-wrapper {
  z-index: 1;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.nav-menu {
  padding: 15px;
  margin: 0;
  list-style: none;
  text-align: center;
}

.nav-menu-item {
  align-items: center;
  text-align: center;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.nav-menu-item:hover {
  color: var(--sky-blue);
}

.nav-menu-item:active {
  opacity: 0.3;
}

/* Контентная часть */

.main-background-img-field {
  background: var(--darker-gray);
  min-width: 1200px;
  height: 509px;
  margin: 0;
}

.text-intro {
  font-weight: bold;
  text-align: center;
  margin-top: 42px;
}

/* Список причин посещения Седоны */
.reasons-list {
  padding-left: 0;
  list-style: none;
}

.reasons-item-header {
  font-weight: bold;
  line-height: 21px;
  color: var(--basic-black);
}
.reasons-caption {
  line-height: 26px;
  margin-bottom: 51px;
  vertical-align: middle;
}
.reasons-text {
  font-size: 14px;
  line-height: 21px;
  color: var(--darkest-gray);
}
.first-reason-box,
.second-reason-box {
  background-color: var(--sky-blue);
  align-self: center;
  display: grid;
  grid-template-columns: min-content min-content;
}
.first-reason-text-box,
.second-reason-text-box {
  width: 400px;
}  
.first-reason-list {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  padding: 0 60px;
  background-color: var(--basic-white);
}
.first-reason-item {
  background-color: var(--basic-white);
}
.first-reason-item-text-content {
  margin-bottom: 80px;
}
.second-reason-box {
  background-color: var(--sky-blue);
  align-self: center;
}
.white-header,
.white-text {
  color: var(--basic-white);
}
.first-reason-img-field,
.second-reason-img-field {
  width: 800px;
  height: 256px;
  background-color: var(--darker-gray);
}
.other-reasons-list{
  margin: 0;
  background-color: var(--light-gray);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  padding: 47px 77px 54px 96px;
}


/* Блок с поиском гостиницы */
.hotel-search-text {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
}

.hotel-search-text-interested {
  font-weight: bold;
  font-size: 30px;
  color: var(--basic-black);
}

.form-opening-button {
  width: 568px;
  height: 86px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  align-self: center;
}

.hotel-search-form {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.search-button {
  width: 458px;
  height: 58px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--sky-blue);
  color: var(--basic-white);
}

.google-map {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Подвал */
.page-footer .container{
  vertical-align: center;
  background-color: var(--transparent-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.footer-contact {
  font-weight: bold;
  color: var(--basic-black);
}
.footer-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
}
.footer-phone {
  text-decoration: none;
  color: var(--basic-black);
}

.footer-socials-list {
  list-style: none;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  column-gap: 5px;
  margin-left: 80px;
}
.footer-copyright-wrapper {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 10px;
  margin-top: 20px;
  align-items: center;
}
.footer-copyright-text {
  font-size: 14px;
  color: var(--basic-black);
}
.footer-twitter {
  width: 46px;
  height: 48px;
  background: var(--sky-blue) url(../img/twitter-icon.svg) no-repeat center center;
  display: inline-block;
}

.footer-facebook {
  width: 46px;
  height: 48px;
  background: var(--sky-blue) url(../img/fb-icon.svg) no-repeat center center;
  display: inline-block;
}

.footer-youtube {
  width: 46px;
  height: 48px;
  background: var(--sky-blue) url(../img/youtube-icon.svg) no-repeat center center;
  display: inline-block;
}

/* Внутренняя страница*/
/* Фильтр гостиниц */
.hotels-nav-item {
  color: var(--basic-brown);
}

.hotels-filter-wrapper {
  background-color: var(--darker-gray);
  width: 100%;
  height: 217px;
}
.hotels-filter-box {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}
.hotels-filter-list-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.hotels-filter-list {
  list-style: none;
  padding: 0;
  color: var(--basic-white);
}

.hotels-filter-option {
  font-size: 14px;
  line-height: 21px;
}

.price-filter {
  color: var(--basic-white);
}

.price-filter-range-label {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.min-price-val,
.max-price-val {
  display: inline-block;
  width: 159px;
  height: 36px;
  border: 2px solid var(--basic-white);
}

.max-price-val {
  width: 156px;
}

.show-results-button {
  padding: 7px 35px 8px 36px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--transparent-color);
  border: 2px solid var(--basic-white);
}

.show-results-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Блок с результатами примененного фильтра */
.result-sort-box {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}
.hotels-results-list-heading {
  font-size: 12px;
  line-height: 18px;
}

.hotels-filter-result-sort-list {
  list-style: none;
  padding: 0;
}

.hotels-filter-result-sort-item {
  font-size: 12px;
  line-height: 18px;
  text-decoration: underline dashed var(--sky-blue);
  opacity: 0.3
}

.hotels-filter-result-sort-item:hover {
  color: var(--sky-blue);
  opacity: 1;
}

.hotels-filter-result-sort-item:active {
  color: var(--basic-black);
  opacity: 1;
  text-decoration: none;
}

.hotels-filter-result-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 1fr;
}

.hotels-image-box {
  background-color: var(--darker-gray);
  width: 135px;
  height: 90px;
}

.hotels-name-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: var(--basic-black);
}

.hotels-filter-result-text {
  font-size: 14px;
  line-height: 21px;
  color: var(--darkest-gray);
}

.hotels-rating-box {
  width: 110px;
  height: 27px;
  background-color: var(--basic-gray);

}

.hotels-rating {
  font-size: 14px;
  line-height: 21px;
  color: var(--darker-gray);
  margin: 0;
  padding: 3px 12px 3px 15px;
}

.more-details {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--sky-blue);
  padding: 3px 16px 3px 17px;
  text-decoration: none;
  color: var(--basic-white);
}

.to-book-hotels {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-brown);
  padding: 3px 16px 3px 17px;
  text-decoration: none;
  color: var(--basic-white);
}

.more-details:hover,
.search-button:hover {
  background-color: var(--deeper-blue);
}

.to-book-hotels:hover,
.form-opening-button:hover {
  background-color: var(--darker-brown);
}

.more-details:active,
.search-button:active {
  background-color: var(--basic-blue);
  color: var(--transparent-white-30);
}

.to-book-hotels:active,
.form-opening-button:active {
  background-color: var(--darkest-brown);
  color: var(--transparent-white-30);
}
