:root {
  --transparent-color: rgba(255, 255, 255, 0);
  --basic-white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.9);
  --transparent-white-30: rgba(255, 255, 255, 0.3);
  --sky-blue: #81b3d2;
  --deeper-blue: #669ec0;
  --basic-blue: #5496bd;
  --light-gray: #eeeeee;
  --border-grey: #e5e5e5;
  --basic-brown: #766357;
  --darker-brown: #604e43;
  --darkest-brown: #503e33;
  --toggle-grey: #ababab;
  --basic-gray: #f2f2f2;
  --dark-gray: #888888;
  --darker-gray: #666666;
  --darkest-gray: #333333;
  --basic-black: #000000;
  --sign-grey: #a9a9a9;
  --input-hover-grey: #ebebeb;
}
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff2) format("woff2"), url(../fonts/ptsans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans Bold";
  src: url(../fonts/ptsansbold.woff2), url(../fonts/ptsansbold.woff);
  font-weight: 400;
  font-style: normal;
}
.page {
  margin: 0;
  padding: 0;
  background-color: var(--light-gray);
  height: 100%;
}
.page-body {
  min-height: 100%;
  background-color: var(--basic-white);
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  padding: 0;
}
.main-header-nav {
  position: relative;
  margin: 0;
  padding: 0;
}
.main-header-logo {
  left: 531px;
  position: absolute;
}
.nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.nav-menu-item {
  margin: 0;
  width: 228px;
  min-height: 55px;
  color: var(--basic-black);
  font-size: 14px;
  text-decoration: none;
}
.nav-menu-item-link {
  margin: 15px 0;
  color: var(--basic-black);
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}
.nav-menu-item:first-child,
.nav-menu-item:nth-child(2n),
.nav-menu-item:nth-child(4n + 1) {
  text-align: start;
}
.nav-menu-item:nth-child(4n),
.nav-menu-item:nth-child(4n-1) {
  text-align: end;
}
.nav-menu-item:first-child,
.nav-menu-item:nth-child(4n + 1) {
  width: 228px;
  padding-left: 72px;
}
.nav-menu-item:nth-child(4n) {
  width: 228px;
  padding-right: 72px;
}
.nav-menu-item:nth-child(2n) {
  padding-right: 72px;
}
.nav-menu-item:nth-child(4n-1){ 
  padding-left: 72px;
}

.nav-menu-item-link:hover {
  color: var(--sky-blue);
}
.nav-menu-item-link:active {
  opacity: 0.3;
}
.selected-menu-item {
  color: var(--basic-brown);
}
.main-background-img-field {
  margin: 0;
  min-width: 1200px;
  min-height: 510px;
  display: flex;
  justify-content: center;
  background-color: var(--dark-gray);
  background: url(../img/background-image-mask.png) no-repeat 0 100%, url(../img/background-photo-mainpage.jpg) no-repeat;
}
.main-background-image {
  margin-top: 77px;
}
.intro-text-wrapper {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.text-intro {
  padding: 0;
  max-width: 470px;
  text-align: center;
}
.reasons-caption {
  margin-top: 23px;
  font-size: 14px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 26px;
  color: var(--darkest-gray);
}
.reasons-list {
  padding-left: 0;
  list-style: none;
}
.first-reason-box,
.second-reason-box {
  display: grid;
  grid-template-columns: min-content min-content;
  background-color: var(--sky-blue);
}
.first-reason-text-box,
.second-reason-text-box {
  margin: 30px 0;
  padding: 0;
  min-width: 400px;
  background-color: var(--sky-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.reasons-item-header {
  padding: 6px 0;
  margin: 0;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  width: 180px;
  align-self: center;
  display: block;
}
.reasons-numbering {
  max-width: 300px;
  margin: 0;
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--darkest-gray);
  align-self: center;
}
.first-reason-item-text,
.reasons-text {
  max-width: 305px;
  margin: 0;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--darkest-gray);
  align-self: center;
}
.first-reason-list {
  padding: 0;
  margin: 0;
  background-color: var(--basic-white);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.first-reason-item {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 55px;
  min-width: 400px;
  min-height: 226px;
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first-reason-item-image {
  margin: 0;
  padding: 0;
  padding-top: 7px;
}
.logo-souvenirs-box {
  padding-top: 3px;
}
.logo-food {
  padding-top: 3px;
}
.logo-souvenirs {
  margin: 0;
  padding: 0;
  align-self: center;
}
.first-reason-item-content {
  margin: 0;
  padding: 10px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about-food {
  padding-top: 10px;
}
.about-souvenirs {
  padding-top: 8px;
}
.first-reason-item-header {
  align-self: center;
  padding: 12px 0;
  display: block;
}
.first-reason-item-text {
  padding: 15px 0;
}
.white-header,
.white-text {
  color: var(--basic-white);
}
.first-reason-image-field,
.second-reason-image-field {
  width: 800px;
  height: 256px;
  background-color: var(--darker-gray);
}
.second-reason-text-box {
  padding: 30px 0;
  margin: 0;
}
.second-reason-header {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 0;
}
.second-number {
  margin: 0;
  padding: 6px 0;
}
.second-reason-text {
  margin: 0;
  padding-top: 0;
  padding-bottom: 12px;
}
.other-reasons-list {
  margin: 0;
  padding: 0;
  min-height: 256px;
  background-color: var(--light-gray);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.other-reasons-item {
  width: 400px;
  min-height: 181px;
  padding: 30px 0 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.other-reasons-item-header {
  margin: 0;
  padding-bottom: 3px;
}
.other-reason-numbers {
  margin: 0;
  padding: 4px 0;
}
.other-reasons-text {
  margin: 0;
  padding: 0 60px;
}
.hotel-search {
  min-height: 180px;
  position: relative;
}
.hotel-search-text-interested {
  margin-top: 55px;
  margin-bottom: 30px;
  font-size: 30px;
  color: var(--basic-black);
}
.hotel-search-text {
  width: 435px;
  margin: 0 auto;
  margin-top: 5px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
}
.second-line {
  margin-top: 0;
  padding: 0;
  margin-bottom: 48px;
}
.form-opening-button {
  margin: 0;
  padding-top: 29px;
  padding-bottom: 31px;
  width: 568px;
  min-height: 86px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  border: none;
  outline: 0;
}


.hotel-search-form {
  margin: 0 auto;
  padding: 50px 55px;
  width: 458px;
  min-height: 295px;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: none;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  position: absolute;
  left: 316px;
}
.search-form-hide {
  display: none;
}
.search-form-open {
  display: block;
  transform-origin: 50% 100%;
  animation: show 1s;
  animation-fill-mode: both;
}
.search-form-error {
  animation: shake 0.5s;
}
@keyframes show {
  0% {
      transform: translateY(-100%) scale(1, 0);
  }
  100% {
      transform: translateY(0) scale(1, 1);
  }
}
@keyframes shake {
  0%,
  100% {
      transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
      transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
      transform: translateX(10px);
  }
}
.arrival-date-wrapper {
  margin-top: 5px;
}
.arrival-date-wrapper,
.departure-date-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}
.arrival-date-label,
.departure-date-label {
  min-height: 27px;
  padding-bottom: 2px;
}
.arrival-date-input,
.departure-date-input {
  width: 327px;
  height: 28px;
  padding: 5px 6px 6px 12px;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  text-align: start;
  border: none;
  position: relative;
}
.calendar {
  content: " ";
  position: absolute;
  background-image: url(../img/calendar.svg);
  width: 21px;
  height: 23px;
  right: 64px;
  border: none;
}
.calendar:hover {
  background-image: url(../img/calendar-hover.svg);
  cursor: pointer;
}
.calendar:active {
  background-image: url(../img/calendar-action.svg);
  outline: 0;
}

.adult-children-wrapper {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.adult-input-label {
  padding-top: 5px;
  margin-right: 38px;
}
.children-input-label {
  padding-top: 5px;
  margin-left: 50px;
  margin-right: 25px;
}
.adults-input-wrapper,
.children-input-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
}
.adults-input,
.children-input {
  width: 40px;
  height: 34px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  align-self: center;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  border: none;
  text-align: center;
}
.input-plus {
  margin: 0;
  content: " ";
  width: 35px;
  min-height: 36px;
  background: var(--basic-gray) url(../img/plus.svg) no-repeat 50% 50%;
  border: none;
  align-self: center;
}
.input-minus {
  margin: 0;
  content: " ";
  width: 35px;
  min-height: 36px;
  background: var(--basic-gray) url(../img/minus.svg) no-repeat 60% 50%;
  border: none;
  align-self: center;
}
.adults-input:hover,
.arrival-date-input:hover,
.children-input:hover,
.departure-date-input:hover {
  background-color: var(--input-hover-grey);
}
.arrival-date-input:focus,
.departure-date-input:focus {
  width: 323px;
  height: 24px;
  padding-right: 8px;
  background-color: var(--basic-white);
  border: 2px solid var(--border-grey);
  outline: 0;
}
.adults-input:focus,
.children-input:focus {
  width: 36px;
  height: 30px;
  background-color: var(--basic-white);
  border: 2px solid var(--border-grey);
  outline: 0;
}
.input-plus:hover {
  outline: 0;
  background-image: url(../img/plus-hover.svg);
  cursor: pointer;
}
.input-plus:active {
  outline: 0;
  background-image: url(../img/plus-active.svg);
}
.input-minus:hover {
  background-image: url(../img/minus-hover.svg);
  outline: 0;
  cursor: pointer;
}
.input-minus:active {
  background-image: url(../img/minus-active.svg);
  outline: 0;
}
.calendar:focus,
.input-minus:focus, 
.input-plus:focus {
  outline: 2px dotted var(--basic-black);
}
.search-button {
  min-width: 458px;
  min-height: 58px;
  margin-top: 55px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--sky-blue);
  color: var(--basic-white);
  border: none;
}
.form-opening-button:focus,
.search-button:focus {
  outline: 2px dotted var(--basic-white);
  outline-offset: -2px;
}
.google-map {
  margin: 0;
  background-image: url(../img/map.png);
  width: 100%;
  border: none;
}
.page-footer .container {
  margin: 0;
  padding: 0 40px;
  background-color: var(--transparent-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-contact {
  color: var(--basic-black);
  margin-left: 2px;
}
.footer-text {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.footer-hashtag {
  margin-bottom: 10px;
}
.footer-phone {
  margin-top: 0;
  margin-bottom: 15px;
  text-decoration: none;
  color: var(--basic-black);
}
.footer-socials-list {
  list-style: none;
  padding: 7px;
  padding-top: 5px;
  margin-right: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-twitter {
  min-width: 46px;
  min-height: 48px;
  margin: 3px;
  background: var(--sky-blue) url(../img/twitter-icon.svg) no-repeat center center;
  display: inline-block;
  vertical-align: middle;
}
.footer-facebook {
  min-width: 46px;
  min-height: 48px;
  margin: 3px;
  background: var(--sky-blue) url(../img/fb-icon.svg) no-repeat center center;
  display: inline-block;
  vertical-align: middle;
}
.footer-youtube {
  min-width: 46px;
  min-height: 48px;
  margin: 3px;
  background: var(--sky-blue) url(../img/youtube-icon.svg) no-repeat center center;
  display: inline-block;
  vertical-align: middle;
}
.footer-facebook:hover,
.footer-twitter:hover,
.footer-youtube:hover {
  background-color: var(--deeper-blue);
}
.footer-twitter:active {
  background: var(--basic-blue) url(../img/twitter-active.svg) no-repeat center center;
}
.footer-facebook:active {
  background: var(--basic-blue) url(../img/fb-icon-active.svg) no-repeat center center;
}
.footer-youtube:active {
  background: var(--basic-blue) url(../img/youtube-active.svg) no-repeat center center;
}
.footer-copyright-wrapper {
  margin-right: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.footer-copyright-text {
  font-size: 14px;
  font-family: "PT Sans", Arial, sans-serif;
  padding: 0 8px;
  padding-top: 6px;
  color: var(--basic-black);
}
.footer-html-academy-link {
  min-width: 115px;
  min-height: 41px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/logo-htmlacademy.svg) no-repeat center center;
}
.footer-html-academy-link:hover {
  background: url(../img/logo-htmlacademy-hover.svg) no-repeat center center;
}
.footer-html-academy-link:active {
  background: url(../img/logo-htmlacademy-active.svg) no-repeat center center;
}
.inner-page-menu-item {
  max-height: 56px;
}
.hotels-nav-item {
  color: var(--basic-brown);
}
.hotels-filter {
  width: 100%;
  min-height: 217px;
  background: var(--darker-gray) url(../img/hotel-filter-background.jpg);
}
.filter-form {
  padding: 22px 72px;
  padding-right: 72px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.filter-list-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.house-type-wrapper {
  margin-left: 0;
  padding-right: 226px;
}
.filter-list {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.filter-item {
  padding-top: 25px;
}
.filter-list-header,
.price-filter-header {
  width: 100%;
  margin: 0;
  padding-top: 3px;
  text-align: start;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}
.checkbox-label {
  font-size: 14px;
  font-weight: 400;
  margin-left: 39px;
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.house-type-label {
  margin-left: 40px;
}
/* .filter-checkbox {
  display: none;
} */
.filter-checkbox + .checkbox-label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -39px;
  background-image: url(../img/checkbox-off.svg);
}
.filter-checkbox:checked + .checkbox-label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: -39px;
  background-image: url(../img/checkbox-on.svg);
}
.filter-checkbox:focus + .checkbox-label::before,
.filter-checkbox:focus:checked + .checkbox-label::before {
  border-radius: 2px;
  outline: 2px solid var(--basic-black);
}
.house-type-checkbox + .checkbox-label::before {
  left: -40px;
}
.house-type-checkbox:checked + .checkbox-label::before {
  left: -40px;
}
.filter-checkbox:disabled + .checkbox-label::before {
  background-image: url(../img/checkbox-off-disabled.svg);
}
.filter-checkbox:checked:disabled + .checkbox-label::before {
  background-image: url(../img/checkbox-on-disabled.svg);
}
.price-filter-wrapper {
  padding: 0;
  margin: 0;
  color: var(--basic-white);
  border: none;
}
.price-filter-header {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 3px;
}
.range-price-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.price-filter-range-label {
  font-size: 16px;
  line-height: 21px;
}
.output-areas {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.max-price-val,
.min-price-val {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  display: block;
  width: 159px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.max-price-val {
  width: 156px;
  margin-left: 0;
  border-top: 2px solid var(--basic-white);
  border-bottom: 2px solid var(--basic-white);
  border-right: 2px solid var(--basic-white);
}
.min-price-val {
  position: relative;
  margin-right: 0;
  margin-left: 2px;
  border-top: 2px solid var(--basic-white);
  border-bottom: 2px solid var(--basic-white);
  border-left: 2px solid var(--basic-white);
}
.min-price-val::after {
  content: " ";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  right: 0;
}
.range-controls {
  width: 316px;
  height: 11px;
  padding-top: 10px;
  position: relative;
}
.scale {
  height: 3px;
  background-color: var(--transparent-white-30);
  mix-blend-mode: normal;
}
.bar {
  width: 80%;
  height: 3px;
  background-color: var(--basic-white);
}
.toggle {
  position: absolute;
  left: 0;
  top: 1px;
  width: 3px;
  height: 3px;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--toggle-grey);
  box-shadow: 0 2px 1px 0 var(--toggle-grey);
}
.toggle-max {
  left: 253px;
}
.toggle:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.toggle:focus {
  border-radius: 50%;
  outline: 2px solid var(--basic-black);
  transform: scale(1.2);
}

.show-results-button {
  width: 137px;
  min-height: 25px;
  padding-left: 34px;
  padding-right: 36px;
  padding-top: 4px;
  padding-bottom: 6px;
  margin-right: 10px;
  margin-top: 25px;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--transparent-color);
  border: 2px solid var(--basic-white);
}
.show-results-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.result-sort-box {
  min-height: 74px;
  padding-top: 10px;
  padding-bottom: 2px;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.result-amount {
  margin-left: 73px;
  margin-right: 20px;
}
.sort-list-heading {
  padding-top: 9px;
  padding-left: 27px;
  padding-right: 25px;
  margin-right: 13px;
  font-size: 12px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
}
.result-sort-list {
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  padding: 0;
  padding-right: 90px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.result-sort-item-link {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 3px;
  opacity: 0.3;
  border-bottom: 1px dashed var(--sky-blue);
  display: block;
}
.selected-sorting {
  color: var(--sky-blue);
  opacity: 1;
  border: none;
}
.result-sort-box:hover::before {
  color: var(--sky-blue);
  opacity: 1;
  cursor: pointer;
}
.result-sort-box:hover::before,
.result-sort-item-link:hover {
  color: var(--sky-blue);
  opacity: 1;
  cursor: pointer;
}
.result-sort-item-link:active {
  color: var(--basic-black);
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
.down-arrow {
  position: absolute;
  content: " ";
  width: 11px;
  height: 10px;
  right: 72px;
  top: 40px;
  background: url(../img/icon-down-dir.svg) no-repeat;
  border: none;
  outline: 0;
}
.selected-down-arrow {
  background: url(../img/icon-down-dir-active.svg) no-repeat;
  outline: 0;
}
.down-arrow:hover {
  background: url(../img/icon-down-dir-hover.svg) no-repeat;
  outline: 0;
  cursor: pointer;
}
.down-arrow:active {
  background: url(../img/icon-down-dir-active.svg) no-repeat;
  outline: 0;
  cursor: pointer;
}
.down-arrow:focus,
.up-arrow:focus{
  outline: 2px solid var(--basic-black);
}
.up-arrow {
  position: absolute;
  content: " ";
  width: 11px;
  height: 10px;
  right: 95px;
  top: 40px;
  background: url(../img/icon-up-dir.svg) no-repeat;
  border: none;
  outline: 0;
}
.up-arrow:hover {
  background: url(../img/icon-up-dir-hover.svg) no-repeat;
  outline: 0;
  cursor: pointer;
}
.up-arrow:active {
  background: url(../img/icon-up-dir-active.svg) no-repeat;
  outline: 0;
  cursor: pointer;
}
.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 1fr;
}
.hotels-list-item {
  padding: 20px 73px;
  margin: 0;
  min-height: 110px;
  position: relative;
  border-top: 1px solid var(--border-grey);
  display: flex;
  align-items: center;
}
.hotels-list:last-child {
  border-bottom: 1px solid var(--border-grey);
}
.hotels-item-box {
  margin-left: 30px;
  min-height: 105px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.hotels-image {
  background-color: var(--darker-gray);
  width: 135px;
  height: 90px;
}
.hotels-name-heading {
  padding: 0;
  margin: 0;
}
.hotels-name-link {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: var(--basic-black);
  display: block;
}
.hotels-filter-result-text {
  font-size: 14px;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  line-height: 21px;
  color: var(--darkest-gray);
  min-width: 258px;
  display: flex;
  position: relative;
}
.start-price,
.type {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  display: block;
}
.start-price {
  position: absolute;
  right: 80px;
}
.buttons {
  margin-bottom: 10px;
}
.more-details {
  padding: 5px 16px;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--sky-blue);
  text-decoration: none;
  color: var(--basic-white);
}
.to-book-hotels {
  padding: 5px 17px;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-brown);
  text-decoration: none;
  color: var(--basic-white);
}
.more-details:hover,
.search-button:hover {
  background-color: var(--deeper-blue);
}
.form-opening-button:hover,
.to-book-hotels:hover {
  background-color: var(--darker-brown);
}
.more-details:active,
.search-button:active {
  background-color: var(--basic-blue);
  color: var(--transparent-white-30);
}
.form-opening-button:active,
.to-book-hotels:active {
  background-color: var(--darkest-brown);
  color: var(--transparent-white-30);
}
.hotels-rating-box {
  min-height: 100px;
  margin-top: 10px;
  align-self: flex-end;
}
.hotels-rating {
  width: 100px;
  min-height: 22px;
  margin-top: 63px;
  margin-bottom: 0;
  padding-top: 2px;
  padding-left: 7px;
  padding-bottom: 4px;
  padding-right: 3px;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--basic-gray);
}
.rating-block {
  position: absolute;
  right: 30px;
  width: 100px;
  display: flex;
}
.rating-star {
  margin: 0 3px;
  content: " ";
  width: 18px;
  height: 17px;
  background-image: url(../img/star.svg);
  top: 10px;
}
.four-stars {
  right: 65px;
}
.three-stars {
  top: 28px;
  right: 40px;
}
.two-stars {
  top: 29px;
  right: 15px;
}
.inner-footer {
  margin-bottom: 9px;
}

.inner-footer-copyright{
  margin-top: 3px;
}
