:root {
  --transparent-color: rgba(255, 255, 255, 0);
  --basic-white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.9);
  --transparent-white-30: rgba(255, 255, 255, 0.3);
  --sky-blue: #81B3D2;
  --deeper-blue: #669EC0;
  --basic-blue: #5496BD;
  --light-gray: #EEEEEE;
  --border-grey: #E5E5E5;
  --basic-brown: #766357;
  --darker-brown: #604E43;
  --darkest-brown: #503E33;
  --toggle-grey: #ababab;
  --basic-gray: #F2F2F2;
  --dark-gray: #888888;
  --darker-gray: #666666;
  --darkest-gray: #333333;
  --basic-black: #000000;
  --sign-grey: #A9A9A9;
  --input-hover-grey: #EBEBEB;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/ptsansbold.woff2"), url("../fonts/ptsansbold.woff");
  font-weight: normal;
  font-style: normal;
}

.page {
  margin: 0;
  padding: 0;
  background-color: var(--light-gray);
  height: 100%;
}

.page-body {
  min-height: 100%;
  background-color: var(--basic-white);
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/* Для невидимых элементов */

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0;
}

/* Шапка с навигацией */

.main-header-nav {
  position: relative;
  margin: 0;
  padding: 0;
}

.main-header-logo {
  left: 531px;
  position: absolute;
}

.nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.nav-menu-item {
  margin: 0;
  width: 300px;
  max-height: 55px;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.nav-menu-item-link {
  padding: 15px 0px;
  color: var(--basic-black);
  font-weight: bold;
  text-decoration: none;
  display: block;
}

.nav-menu-item:first-child, .nav-menu-item:nth-child(4n+1), .nav-menu-item:nth-child(2n) {
  text-align: start;
}

.nav-menu-item:nth-child(4n), .nav-menu-item:nth-child(4n-1) {
  text-align: end;
}

.nav-menu-item:first-child, .nav-menu-item:nth-child(4n+1) {
  max-width: 228px;
  padding-left: 72px;
}

.nav-menu-item:nth-child(4n) {
  width: 228px;
  padding-right: 72px;
}

.nav-menu-item-link:hover {
  color: var(--sky-blue);
}

.nav-menu-item-link:active {
  opacity: 0.3;
}

/* Контентная часть */

.main-background-img-field {
  margin: 0;
  min-width: 1200px;
  min-height: 510px;
  display: flex;
  justify-content: center;
  background: url(../img/background-image-mask.png) no-repeat 0 100%, url(../img/background_photo_mainpage.jpg) no-repeat;
}

.main-background-image {
  margin-top: 77px;
}

.intro-text-wrapper {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.text-intro {
  padding: 0;
  max-width: 470px;
  font-weight: bold;
  text-align: center;
}

.reasons-caption {
  margin-top: 23px;
  font-size: 14px;
  line-height: 26px;
  color: var(--darkest-gray);
}

/* Список причин посещения Седоны */

.reasons-list {
  padding-left: 0;
  list-style: none;
}

.first-reason-box, .second-reason-box {
  display: grid;
  grid-template-columns: min-content min-content;
  background-color: var(--sky-blue);
}

.first-reason-text-box, .second-reason-text-box {
  margin: 0;
  padding: 0;
  min-width: 400px;
  background-color: var(--sky-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.reasons-item-header {
  padding: 0;
  margin: 0;
  /* margin-top: 5px; */
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  width: 180px;
  align-self: center;
  display: block;
}

.reasons-text, .first-reason-item-text, .reasons-numbering {
  max-width: 300px;
  margin: 0;
  padding: 0;
  /* margin-top: 20px; */
  font-size: 14px;
  line-height: 21px;
  color: var(--darkest-gray);
  align-self: center;
}

.first-reason-list {
  padding: 0;
  margin: 0;
  background-color: var(--basic-white);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.first-reason-item {
  margin-top: 55px;
  margin-bottom: 60px;
  min-width: 400px;
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-reason-item-image {
  margin-top: 0;
  margin-bottom: 8px;
  align-self: center;
}

.about-souvenirs {
  margin-top: 0;
  margin-bottom: 5px;
}

.first-reason-item-header {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.first-reason-item-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.first-reasons-item-text {
  width: 290px;
  display: block;
}

.white-header, .white-text {
  color: var(--basic-white);
}

.first-reason-image-field, .second-reason-image-field {
  width: 800px;
  height: 256px;
  background-color: var(--darker-gray);
}

.other-reasons-list {
  margin: 0;
  padding: 0;
  min-height: 256px;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.other-reasons-item {
  flex-basis: 400px;
  min-height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.other-reasons-text {
  padding: 0 60px;
}

/* Блок с поиском гостиницы */

.hotel-search {
  position: relative;
}

.hotel-search-text {
  width: 435px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
}

.second-line {
  margin-bottom: 45px;
}

.hotel-search-text-interested {
  margin-top: 55px;
  font-weight: bold;
  font-size: 30px;
  color: var(--basic-black);
}

.form-opening-button {
  margin: 0;
  padding: 0;
  width: 568px;
  min-height: 86px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  border: none;
}

.hotel-search-form {
  margin: 0 auto;
  padding: 50px 40px;
  width: 488px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: none;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  position: absolute;
  left: 316px;
}

.arrival-date-wrapper {
  margin-top: 5px;
}

.arrival-date-wrapper, .departure-date-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 27px;
}

.arrival-date-input, .departure-date-input {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
  width: 330px;
  margin-right: 5px;
  padding: 7px;
  background-color: var(--basic-gray);
  font-weight: bold;
  text-align: start;
  border: none;
  position: relative;
}

.calendar {
  content: " ";
  position: absolute;
  background-image: url(../img/calendar.svg);
  width: 21px;
  height: 23px;
  right: 65px;
  border: none;
}

.calendar:hover {
  background-image: url(../img/calendar-hover.svg);
}

.calendar:active {
  background-image: url(../img/calendar-action.svg);
  outline: none;
}

.calendar:focus {
  outline: none;
}

.input-label {
  display: inline-block;
  padding: 5px 5px;
}

.adult-wrapper, .children-wrapper {
  display: inline-block;
  position: relative;
}

.children-wrapper {
  display: inline-block;
  margin-left: 40px;
}

.adults-input, .children-input {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
  width: 114px;
  height: 38px;
  background-color: var(--basic-gray);
  border: none;
  text-align: center;
}

.arrival-date-input:hover, .departure-date-input:hover, .adults-input:hover, .children-input:hover {
  background-color: var(--input-hover-grey);
}

.arrival-date-input:focus, .departure-date-input:focus, .adults-input:focus, .children-input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--border-grey);
  outline: none;
}

.input-plus {
  content: " ";
  width: 11px;
  height: 11px;
  position: absolute;
  background-image: url(../img/Union.svg);
  border: none;
  top: 15px;
  right: 15px;
}

.input-plus:hover {
  outline: none;
  background-image: url(../img/Union-hover.svg);
}

.input-plus:active {
  outline: none;
  background-image: url(../img/Union-active.svg);
}

.input-plus:focus {
  outline: none;
}

.input-minus {
  content: " ";
  width: 12px;
  height: 3px;
  position: absolute;
  background-color: var(--sign-grey);
  border: none;
  top: 19px;
  right: 90px;
}

.input-minus:hover {
  background-color: var(--basic-black);
  outline: none;
}

.input-minus:active {
  background-color: var(--sky-blue);
  outline: none;
}

.input-minus:focus {
  outline: none;
}

.adult-input-label {
  margin-right: 30px;
}

.children-input-label {
  margin-right: 20px;
}

.search-button {
  width: 458px;
  min-height: 58px;
  margin-top: 55px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--sky-blue);
  color: var(--basic-white);
  border: none;
}

/* Карта */

.google-map {
  margin: 0;
  background-image: url(../img/map.png);
  width: 100%;
  border: none;
}

/* Подвал */

/* .main-footer {
  position: relative;
} */

.page-footer .container {
  margin: 0;
  background-color: var(--transparent-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 40px;
}

/* Телефон и хэштег */

.footer-contact {
  font-weight: bold;
  color: var(--basic-black);
}

.footer-text {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer-hashtag {
  margin-bottom: 10px;
}

.footer-phone {
  margin-top: 0;
  margin-bottom: 20px;
  text-decoration: none;
  color: var(--basic-black);
}

/* Социальные сети */

.footer-socials-list {
  list-style: none;
  padding: 7px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-twitter {
  min-width: 46px;
  min-height: 48px;
  margin: 3px;
  background: var(--sky-blue) url(../img/twitter-icon.svg) no-repeat center center;
  display: inline-block;
}

.footer-facebook {
  min-width: 46px;
  min-height: 48px;
  margin: 3px;
  background: var(--sky-blue) url(../img/fb-icon.svg) no-repeat center center;
  display: inline-block;
}

.footer-youtube {
  min-width: 46px;
  min-height: 48px;
  margin: 3px;
  background: var(--sky-blue) url(../img/youtube-icon.svg) no-repeat center center;
  display: inline-block;
}

.footer-twitter:hover, .footer-facebook:hover, .footer-youtube:hover {
  background-color: var(--deeper-blue);
}

.footer-twitter:active {
  background: var(--basic-blue) url(../img/twitter-active.svg) no-repeat center center;
}

.footer-facebook:active {
  background: var(--basic-blue) url(../img/fb-icon-active.svg) no-repeat center center;
}

.footer-youtube:active {
  background: var(--basic-blue) url(../img/youtube-active.svg) no-repeat center center;
}

/* Копирайт */

.footer-copyright-wrapper {
  margin-right: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.footer-copyright-text {
  font-size: 14px;
  margin-right: 10px;
  color: var(--basic-black);
}

.footer-html-academy-link {
  display: inline-block;
  min-width: 115px;
  min-height: 41px;
  background: url(../img/logo-htmlacademy.svg) no-repeat center center;
}

.footer-html-academy-link:hover {
  background: url(../img/logo-htmlacademy-hover.svg) no-repeat center center;
}

.footer-html-academy-link:active {
  background: url(../img/logo-htmlacademy-active.svg) no-repeat center center;
}

/* Внутренняя страница*/

/* Фильтр гостиниц */

.hotels-nav-item {
  color: var(--basic-brown);
}

.hotels-filter {
  background: var(--darker-gray) url("../img/hotel-filter-background.jpg");
  width: 100%;
  min-height: 217px;
}

.filter-form {
  padding: 20px 72px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter-list {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.filter-list-wrapper {
  display: inline-block;
}

.house-type-wrapper {
  margin-left: 0;
  margin-right: 225px;
}

.filter-item {
  padding-top: 25px;
}

.filter-list-header, .price-filter-header {
  width: 100%;
  margin: 0;
  text-align: start;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
  display: inline-block;
}

.checkbox-label {
  font-size: 14px;
  font-weight: normal;
  margin-left: 39px;
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filter-checkbox {
  display: none;
}

.filter-checkbox+.checkbox-label::before {
  content: " ";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -39px;
  background-image: url(../img/checkbox-off.svg);
}

.filter-checkbox:checked+.checkbox-label::before {
  content: " ";
  position: absolute;
  width: 27px;
  height: 23px;
  left: -39px;
  background-image: url(../img/checkbox-on.svg);
}

.filter-checkbox:disabled+.checkbox-label::before {
  background-image: url(../img/checkbox-off-disabled.svg);
}

.filter-checkbox:checked:disabled+.checkbox-label::before {
  background-image: url(../img/checkbox-on-disabled.svg);
}

.price-filter-wrapper {
  padding: 0;
  margin: 0;
  color: var(--basic-white);
  border: none;
}

.price-filter-header {
  margin-top: 0;
  margin-bottom: 10px;
}

.range-price-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.price-filter-range-label {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.output-areas {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.min-price-val, .max-price-val {
  font-size: 14px;
  line-height: 21px;
  display: block;
  width: 159px;
  padding: 6px 0;
}

.max-price-val {
  width: 156px;
  margin-left: 0;
  border-top: 2px solid var(--basic-white);
  border-bottom: 2px solid var(--basic-white);
  border-right: 2px solid var(--basic-white);
}

.min-price-val {
  position: relative;
  margin-right: 0;
  border-top: 2px solid var(--basic-white);
  border-bottom: 2px solid var(--basic-white);
  border-left: 2px solid var(--basic-white);
}

.min-price-val::after {
  content: " ";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  right: 0;
}

.range-controls {
  width: 316px;
  height: 11px;
  padding-top: 9px;
  position: relative;
}

.scale {
  height: 2px;
  background-color: var(--transparent-white-30);
  mix-blend-mode: normal;
}

.bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}

.toggle {
  position: absolute;
  left: 0;
  top: 1px;
  width: 3.8px;
  height: 3.82px;
  padding: 0;
  border: 6px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--toggle-grey);
  box-shadow: 0 2px 1px 0 var(--toggle-grey);
}

.toggle-max {
  left: 255px;
}

.toggle:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.show-results-button {
  display: block;
  padding: 0;
  width: 137px;
  height: 36px;
  margin-right: 5px;
  margin-top: 25px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--transparent-color);
  border: 2px solid var(--basic-white);
}

.show-results-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Блок с результатами примененного фильтра */

.result-sort-box {
  min-height: 86px;
  display: flex;
  align-items: center;
  position: relative;
}

.result-amount {
  font-weight: bold;
  margin-left: 75px;
  margin-right: 20px;
}

.sort-list-heading {
  padding: 0 20px;
  font-size: 12px;
  line-height: 18px;
}

.result-sort-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.down-arrow {
  position: absolute;
  content: " ";
  width: 11px;
  height: 10px;
  right: 73px;
  /* background-color: none; */
  background: url(../img/icon-down-dir.svg) no-repeat;
  border: none;
  outline: none;
}

.down-arrow:hover {
  background: url(../img/icon-down-dir-hover.svg) no-repeat;
  outline: none;
  cursor: pointer;
}

.down-arrow:active {
  background: url(../img/icon-down-dir-active.svg) no-repeat;
  outline: none;
  cursor: pointer;
}

.up-arrow {
  position: absolute;
  content: " ";
  width: 11px;
  height: 10px;
  right: 96px;
  background: url(../img/icon-up-dir.svg) no-repeat;
  border: none;
  outline: none;
}

.up-arrow:hover {
  background: url(../img/icon-up-dir-hover.svg) no-repeat;
  outline: none;
  cursor: pointer;
}

.up-arrow:active {
  background: url(../img/icon-up-dir-active.svg) no-repeat;
  outline: none;
  cursor: pointer;
}

.result-sort-item {
  font-size: 12px;
  line-height: 18px;
  padding: 0 20px;
  text-decoration: underline dashed var(--sky-blue);
  opacity: 0.3;
}

.result-sort-box:hover::before {
  color: var(--sky-blue);
  opacity: 1;
  cursor: pointer;
}

.result-sort-item:hover, .result-sort-box:hover::before {
  color: var(--sky-blue);
  opacity: 1;
  cursor: pointer;
}

.result-sort-item:active {
  color: var(--basic-black);
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 1fr;
}

.hotels-list-item {
  padding: 25px 73px;
  margin: 0;
  position: relative;
  border-top: 1px solid var(--border-grey);
  display: flex;
  align-items: center;
}

.hotels-list:last-child {
  border-bottom: 1px solid var(--border-grey);
}

.hotels-item-box {
  margin-left: 30px;
  flex-grow: 1;
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hotels-image-box {
  background-color: var(--darker-gray);
  width: 135px;
  height: 90px;
}

.hotels-name-heading {
  padding: 0;
  margin: 0;
}

.hotels-name-link {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: var(--basic-black);
  display: block;
}

.hotels-filter-result-text {
  font-size: 14px;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  line-height: 21px;
  color: var(--darkest-gray);
  display: flex;
  min-width: 258px;
  position: relative;
}

.type, .start-price {
  margin: 0;
  padding: 0;
  display: block;
}

.start-price {
  position: absolute;
  right: 80px;
}

.buttons {
  margin-bottom: 5px;
}

.more-details {
  padding: 3px 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--sky-blue);
  text-decoration: none;
  color: var(--basic-white);
  display: inline-block;
}

.to-book-hotels {
  padding: 3px 17px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-brown);
  text-decoration: none;
  color: var(--basic-white);
  display: inline-block;
}

.more-details:hover, .search-button:hover {
  background-color: var(--deeper-blue);
}

.to-book-hotels:hover, .form-opening-button:hover {
  background-color: var(--darker-brown);
}

.more-details:active, .search-button:active {
  background-color: var(--basic-blue);
  color: var(--transparent-white-30);
}

.to-book-hotels:active, .form-opening-button:active {
  background-color: var(--darkest-brown);
  color: var(--transparent-white-30);
}

.hotels-rating {
  margin-top: 64px;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  padding: 3px 14px;
  vertical-align: bottom;
  background-color: var(--basic-gray);
}

.hotels-rating-box {
  height: 90px;
  margin-bottom: 5px;
  align-self: flex-end;
}

.rating-block {
  position: absolute;
  right: 30px;
  width: 100px;
  display: flex;
}

.rating-star {
  margin: 0 3px;
  content: " ";
  width: 18px;
  height: 17px;
  background-image: url(../img/star.svg);
  top: 10px;
}

.four-stars {
  right: 65px;
}

.three-stars {
  right: 40px;
}

.two-stars {
  right: 15px;
}